<div class="row1-container">
  <ul>
    <% @spaces.each do |space| %>
      <a href="/spaces/<%= space.id %>/show">
        <div class="box red space" id="space-<%= space.id %>">
          <h3><%= space.name %></h3>
          <h4><%= space.price %></h4>
          <p><%= space.description %></p>
        </div>
      </a>
    <% end %>
  </ul>
</div>