<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="space-<%= space.id %>"><a href="/spaces/<%= space.id %>/show"><%= space.name %></a></li>
    <p><%= space.description %></p>
    <p><%= space.price %></p>
    <form action="/spaces/<%= space.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  <% end %>
</ul>