<div class="row1-container">
  <ul>
    <% @requests.each do |request| %>
          <div class="box red space">
          <h1><%= Space.find(id: request.space_id).name %></h1>
          <h3>£ <%= Space.find(id: request.space_id).price %> per night</h3>
          <p><%= Space.find(id: request.space_id).description %></p>
          <h3>Request to book from <%= Space.find(id: request.space_id).date_start %> to <%= Space.find(id: request.space_id).date_end %></h3>
          <h4>Request sent from: <%= User.find(id: request.user_id).username %></h4>
          <h4>Contact: <%= User.find(id: request.user_id).email %></h4>
        </div>
    <% end %>
  </ul>
</div>
